* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #100f0f;
}

.clock {
    display: flex;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
  background-image: url(clock-img/clock-sam.png);
    background-size: cover;
    border: 4px solid #ffffff;
    border-radius: 10%;
    background-color: #050405;
   
}

.clock:before {
    content: "";
    color: #fff;
    position: absolute;
    width: 15px;
    height: 15px;
    background: #747474;
    border-radius: 50%;
    z-index: 999;

}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour, .hr {
    width: 160px;
    height: 160px;
}

.clock .min, .mn {
    width: 190px;
    height: 190px;
}

.clock .sec, .sc {
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    position: absolute;
    border-radius: 50%;
    
}

.hr:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ffb510;
    z-index: 9;
    border-radius: 6px 6px 0 0;
}

.mn:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background: #9f9f9f;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.sc:before {
    content: "";
    position: absolute;
    width: 2px;
    height:150px;
    background: #fcfcfc;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.dig_clock{
    position: absolute;
    top:15%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #cbce16;
    font-size: 25px;
    
    letter-spacing: 7px;
  

}
